body{
    padding: 0;
    margin: 0;
    background-color: #F4E2DE;
}
/* Nascondi scrollbar su tutto il sito */
html, body {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

/* stili loghi */
.Logo01{
    font-family: Pacifico, sans-serif;
    font-size: 32px;
    line-height: 32px;
    color: #D94F04;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
.Logo02{
    font-family: Pacifico, sans-serif;
    font-size: 32px;
    line-height: 32px;
    color: #D94F04;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin: 5vh 0 0 0;
}

/* stili testi */
.testo01{
    font-family: Outfit, sans-serif;
    color: #ffffff;
    font-size: 20px;
}
.testo02{
    font-family: Outfit, sans-serif;
    color: #1E1E1E;
    font-size: 20px;
}
.testo03{
    font-family: Outfit, sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.email{
    font-family: Outfit, sans-serif;
    color: #025259;
    font-size: 20px;
    font-weight: 600;
}
.parole{
    color: #F29325;
}
.parole-titoli{
    color: #D94F04;
    font-family: Pacifico, sans-serif;
}

/* stili titoli */
.titolo01{
    font-size: 48px;
    font-family: Pacifico, sans-serif;
    color: #D94F04;
}
.titolo02{
    font-size: 64px;
    font-family: Outfit, sans-serif;
    color: #025259;
    margin: 20vh 0;
}
.titolo03{
    font-size: 24px;
    font-family: Outfit, sans-serif;
    font-weight: semi-bold;
    color: #025259;
}
.titolo04{
    font-size: 80px;
    font-family: Outfit, sans-serif;
    font-weight: bold;
    color: #D94F04;
}
.titolo05{
    font-size: 64px;
    font-family: Outfit, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    margin: 5vh 0;
}
.titolo06{
    font-size: 20px;
    font-family: Outfit, sans-serif;
    font-weight: semi-bold;
    color: #F29325;
}

/* stili sfondi */
.sfondo01{
    background-color: #025259;
}
.sfondo01 .immagine01{
    object-fit: cover;
    margin: 20vh 0;
}

/* stili immagini */
.immagine01{
    border-radius: 50px;
}
.immagine02{
    padding: 0;
    margin: 0;
    height: 500px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    object-fit: cover;
}
.immagine03{
    border-radius: 50px;
    height: 400px;
    object-fit: cover;
}
.immagine04{
    width: 506px;
    height: 716px;
    object-fit: cover;
}
.immagine05{
    width: 670px;
    height: 400px;
    border-radius: 50px;
}
.immagine06{
    height: 310px;
    border-radius: 50px;
    object-fit: cover;
}

/* stili bottoni */
.bottone01{
    width: 210px;
    height: 54px;
    border: none;
    border-radius: 12px;
    background: #D94F04;
    margin: 0 10px;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}
.testo-btn1{
    font-family: Outfit, sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}
.bottone02{
    width: 210px;
    height: 54px;
    border: 1px solid #D94F04;
    border-radius: 12px;
    background: #FFFFFF;
    margin: 0 10px;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}
.testo-btn2{
    font-family: Outfit, sans-serif;
    color: #D94F04;
    font-size: 18px;
    font-weight: 600;
}
.bottone01:hover{
    cursor: pointer;
    background-color: #F29325;
}
.bottone02:hover{
    cursor: pointer;
    background-color: #F29325;
}
.bottone02:hover .testo-btn2 {
    color: #FFFFFF;
    border-color: #F29325;
}


/* stile Fascia 1 | Header */
.header{
    position: absolute;
    width: 100%;
    height: 15vh;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #1E1E1E66;
    z-index: 10;
}
.nav-list{
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
}
.nav-item{
    position: relative;
}
.nav-link{
    position: relative;
    display: inline-block;
    border-bottom: solid 4px transparent;
    text-decoration: none;
    margin: 8px;
    padding: 8px;
    white-space: nowrap;

    font-family: Outfit, sans-serif;
    font-size: 24px;
    font-style: normal;
    color: #F29325;
    font-weight: 400;
    line-height: 22px;
}
.nav-link:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #F29325;
    transition: width 0.3s ease-in-out;
    transform-origin: right;
}
.nav-link:hover:after {
    width: 100%;
}

.nav-list-footer{
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
}
.nav-item-footer{
    position: relative;
}
.nav-link-footer{
    position: relative;
    display: inline-block;
    border-bottom: solid 4px transparent;
    text-decoration: none;
    margin: 8px;
    padding: 8px;
    white-space: nowrap;
    display: block;
    text-align: center;

    font-family: Outfit, sans-serif;
    font-size: 24px;
    font-style: normal;
    color: #F29325;
    font-weight: 400;
    line-height: 22px;
}
.nav-link-footer:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #F29325;
    transition: width 0.3s ease-in-out;
    margin: 0 auto;
}
.nav-link-footer:hover:after {
    width: 100%;
}

/* stile icon */
.list-icon{
    list-style: none;
    padding: 0;
    margin: 0;
}
.icon{
    position: relative;
    margin: 0;
    padding: 0;
}
.hamburger-menu{
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    cursor: pointer;
    color: #F29325;
}

/* stile Fascia 2 | Video Background */
.video-background-container{
    position: relative;
    width: 100%;
    height: 886px;
    overflow: hidden;
}
.background-video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
    object-fit: cover;
}
.video-background-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}
.content{
    position: relative;
    display: flex;
    width: 440px;
    height: 402.022px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-top: 25vh;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
}
.testo-h1{
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.gioco{
    color: #D94F04;
    font-family: Pacifico, sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 114px;
}

/* stile Menu Mobile */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    max-width: 300px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
    padding-top: 10vh;
}

.mobile-menu.active {
    right: 0;
}

.mobile-nav-list {
    list-style: none;
    padding: 20px;
    margin: 0;
}

.mobile-nav-item {
    margin: 20px 0;
    text-align: center;
}

.mobile-menu .nav-link {
    color: #F29325;
    font-size: 24px;
    display: block;
    padding: 15px;
}

.mobile-menu .nav-link:after {
    display: none;
}

/* media query */
@media (max-width: 768px) {
    /* Header */
    .header .row {
        position: relative;
        justify-content: center;
    }
    
    .header .col-md-2 {
        position: static;
        flex: 0 0 auto;
    }
    
    .header .col-md-1 {
        position: absolute;
        right: 15px;
        flex: 0 0 auto;
    }
    .hamburger-menu {
        width: 50px;
        height: 50px;
    }

    /* Fascia 2 */
    .content {
        width: 90%;
        margin-left: 5%;
        margin-top: 20vh;
    }
    
    .testo-h1 {
        font-size: 64px;
        margin: 40vh 0 0 0;
    }
    
    .gioco {
        font-size: 64px;
        line-height: 76px;
    }
    
    .video-background-container {
        height: 100vh;
    }

    /* Fascia 3 */
    
}
